{% extends "main.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
<br>
    <h3 class="text-center">Unapproved Teachers' List</h3>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td><a type="button" class="btn btn-info" href="{%url 'approve_teacher' user.id%}">Approve</a><a type="button" class="btn btn-danger" href="{%url 'reject_teacher' user.id%}">Reject</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}