{% extends "main.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}"{%endif%}>
                    {{message}}
                </li>
            {% endfor %}        
        </ul>
    {% endif %}
    {%if page == 'login'%}
        <h2 align="center">Login</h2>
        <form action="" method="post">
            {%csrf_token%}
            <div class="mb-3">
                <label for="username">Username</label>
                <input class="form-control form-control-sm" type="text" placeholder="Enter username" aria-label=".form-control-sm example" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input class="form-control form-control-sm" type="password" placeholder="Enter password" aria-label=".form-control-sm example" id="password" name="password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    {%else%}
        <h2 align="center">Register</h2>
        <div>
            <form method='post' action="">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Register</button>
                <p>Already signed up?</p>
                <a href="{%url 'login'%}">Login</a>
            </form>
        </div>
    {%endif%}
{%endblock%}